page-home {
}

.progress {
  width: 100%;
  background-color: #ddd;
}
.progress-box{
    margin-bottom: 30px;
}

.bar {
  width: 0%;
  height: 30px;
  background-color: #2196F3;
  text-align: center;
  line-height: 30px;
  color: white;
}
